[submodule "libtelnet"]
	path = libtelnet
	url = https://github.com/seanmiddleditch/libtelnet.git
[submodule "libs/SMTPEmail"]
	path = libs/SMTPEmail
	url = https://github.com/bluetiger9/SmtpClient-for-Qt.git
