[Desktop Entry]
Exec=artmoo-server
Icon=usr/share/icons/hicolor/512x512/apps/artmoo-server.png
Version=1.0.0
Name=ArtMOO
Terminal=false
Type=Application
